* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

div.spaceman {
  background-image: url("images/steve-scott.jpeg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

.page {
  display: flex;
  flex-wrap: wrap;
}

.section {
  width: 100%;
  height: 300px;
  display: block;
  justify-content: left;
  align-items: center;
}
.menu {
  background-color: #5995DA;
  /* height: 80px; */
}

.header {
  background-color: #B2D6FF;
}

.content {
  background-color: #EAEDF0;
  height: 600px;
}

.sign-up {
  background-color: #D6E9FE;
}

.feature-1 {
  background-color: #F5CF8E;
}

.feature-2 {
  background-color: #F09A9D;
}

.feature-3 {
  background-color: #C8C6FA;
}
/* Mobile Styles (all above is mobile as well) */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D;
  }
  
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E;
  }
  .sign-up,
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 50%;
  }
  .section {
    display: flex;
  }
  .contentitem {
    flex: 2;
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) { 
  body {
    background-color: #FFFFFF;
  }
  .section {
    display: flex;
  }
  .contentitem {
    flex: 2;
  }
  .page {
    width: 960px;
    margin: 0 auto;
  }
  .feature-1,
  .feature-2,
  .feature-3 {
    width: 33.3%;
  }
  .header {
    /* height: 400px; */
  }
  .sign-up {
    height: 200px;
    order: 1;
  }
  .content {
    order: 2;
  }
}
