#mymenu {
  padding: 0;
  border: 1px solid #eee;
  list-style-type: none;
  text-transform: uppercase;
  align-items: center;
  width: 100%;
}

#mymenu > div {
  border: 1px solid #eee;
  padding: .5em;
  text-align: center;
}
#kittenlogo {
  display: none;
}

#cone {
/*   position: relative; */
/*   position: absolute; */
  position: fixed;
  right: 20px;
  bottom: 20px;
/*   z-index: 100; */
}

.banana {
/*     clip-path: circle(50%); */
clip-path: inset(0px 0px 16.75%);
}

@media only screen and (min-width: 600px) {
#mymenu {
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  height: 120px;
  }
#mymenu > div {
  flex-basis: 8em;
}
  #kittenlogo{
  display: inherit;
  justify-content: center;
  order: 4;
  }
  #gallery {
    display: flex;
    flex-wrap: wrap;
  }
  #gallery > div {
    flex: 50%;
  }
}

@media only screen and (min-width: 1000px) {
#mymenu {
  justify-content: flex-start;
  }
#title {
  margin-left: auto;
  order: 3;
  }
  #gallery > div {
  flex: 25%;
  }
}
