
body, h1, h2, h3, h4, h5, h6, p, ol, ul, section {
    margin: 1rem;
}
body {
    background-color: #BFBFBF;
    width:600px; 
    margin-left: auto;
    margin-right: AUTO; 
    font-family: 'Grenze', serif;
 } 
nav {
    float:left;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
}
    .palette {
        display: inline;
    }
.button {
    color: #fff;
    background-color: #aa66ff;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5d6063;
    border-radius: 8px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.columns {
    column-count: 3;
}

.floatleft {
    float: left;
}
