* {
        margin: 0;
        padding: 0;
}
    h1 {
    text-align:center;
    font-style: italic;
}

    img {
    width:100%;
    height:250px;
}

body {
  background-image: url('images/background.png');
}

#mymenu {
  padding: 0;
  border: 1px solid #eee;
  list-style-type: none;
  text-transform: uppercase;
  align-items: center;
  width: 100%;
}

#mymenu > div {
  border: 1px solid #eee;
  padding: .5em;
  text-align: center;
}
#mymenu > a {
  border: 1px solid #eee;
  padding: .5em;
  text-align: center;
}
@media only screen and (min-width: 600px) {
#mymenu {
  display: flex;
  justify-content: space-evenly;
  text-transform: uppercase;
  height: 120px;
}
#mymenu > div {
  flex-basis: 8em;
}
  #kittenlogo{
    display: inherit;
    justify-content: center;
    order: 4;
  }
  #gallery {
    display: flex;
    flex-wrap;
  }
  #gallery > div {
    flex: 50%;
  }
}
@media only screen and (min-width: 1000px) {
    .boxs {
    display: flex;
/*     width:90%; */
/*     margin:0 auto; */
}

    .box {
    flex: 3;
/*     width:31%; */
/*     margin-left:1.5%; */
/*     float:left; */
}
  #mymenu {
    justify-content: flex-start;
  }
  #title {
    margin-left: auto;
    order:3;
  }
  #gallery > div {
  }
  #banana {
  position: absolute;
  clip: rect(0px,60px,200px,0px);
  }
}
body.lb-disable-scrolling {
  overflow: hidden;
}
