html{
    background:white;
}
body{
    /* font-family: 'Chicle', cursive; */
}
@media only screen and (min-width: 600px) {
  body {
    background-color: lightblue;
  }
  div#question {
    background-color: pink;
    display: flex;
  }
}
