
body, h1, h2, h3, h4, h5, h6, p, ol, ul, section {
    margin: 0rem;
}
body {
    color: #483d8b;
    background-color: lightgoldenrodyellow;
    font-family: 'Grenze', serif;
 } 
nav {
}
page {
    max-width:700px; 
    display: block;
    padding: 16px;
    background-color: lightgoldenrodyellow;
    margin-left: auto;
    margin-right: AUTO; 
}
h1 {
    font-size: 4rem;
    font-weight: 900;
    text-align: center;
}
h2 {
    font-size: 2rem;
    font-weight: 900;
    text-transform: uppercase;
}
p {
    margin-bottom: 1rem;
    line-height: 1.2rem;
}
table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
  border-collapse: collapse;
  border-spacing: 0;
}
table th {
  font-weight: bold;
  background: #483d8b;
  color: #fff;
}
table th, table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}
table tr {
  background-color: #fff;
    background-color: lightgoldenrodyellow;
  border-top: 1px solid #dcdcdc;
}
table tr:nth-child(2n) {
  background-color: #f8f8f8;
    background-color: lightgoldenrodyellow;
}
hr {
    border: 1px solid #483d8b
}
footer {
    font-size: small;
    border-top: 1px solid #444;
}
.palette {
        display: inline;
    }
.button {
    color: #fff;
    background-color: #aa66ff;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid #5d6063;
    border-radius: 8px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}

.columns {
    column-count: 3;
}

.floatleft {
    float: left;
}
