/* Creative Computing Style Sheet */
body {
    font-size: 1em;   
    font-family: 'Alegreya', serif;
    margin: auto;
}
p {
    font-size: 1em;   
    line-height: 1.3em;
}
blockquote {
    color: gray;
}
h1 {
    font-size: 3rem;
    font-family: 'Alegreya SC', serif;
    font-weight: 500;
}
nav {
    background-color: #dddddddd;
    width: 100%;
    float: left;
    display: block;
    position: fixed;
    top: 0px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
nav li{
    float: left;
}
nav li a:link, a:visited, a:hover {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.main {
    margin: auto;
    max-width: 800px;
    margin-top: 64px;
    margin-bottom: 96px;
}
.text {
    column-count: 2; 
    column-gap: 2rem;
    text-align: justify;
}

.flex-container {
    display: -webkit-flex;
    display: flex;
    width: 100%;
}
.flex-item4 {
    width: 25%;
}
.flex-item34 {
    width: 75%;
}
.flex-item3 {
    width: 33%;
}
.flex-item2 {
    width: 50%;
}
.flex-item1 {
    width: 100%;
}
.flex-gutter {
    width:40px;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D; /* Red */
  }
.text {
    column-count: 1; 
    column-gap: 2rem;
    text-align: justify;
}
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E; /* Yellow */
  }
.text {
    column-count: 1; 
    column-gap: 2rem;
    text-align: justify;
}
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #B2D6FF; /* Blue */
  }
}
